/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* ヘッダー1 */
h1 {
  background-color: #ff9900;
  color: #fff;
  font-size: 32px;
  margin: 0;
  padding: 20px;
  text-align: center;
}
/* ヘッダー2 */
h2 {
  font-size: 32px;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}
/* twitter用ヘッダー */
h3 {
  background-color: #0000FF;
  font-size: 32px;
  color: #FFF;
  margin: 0;
  padding: 20px;
  text-align: center;
}
/* 動画のセル */
.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
}
/* 動画のセル */
.video-cell {
  margin: 5px;
  position: relative;
  width: 250px;
  height: 150px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  margin-right: 10px;
}

/* 動画のサムネイル画像 */
.video-cell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* 動画のサムネイル画像を拡大表示 */
.video-cell:hover img {
  transform: scale(1.2);
}

/* 動画のタイトル */
.video-cell a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

/* 動画のタイトルを下方向にスライド */
.video-cell:hover a {
  bottom: -40px;
  transition: bottom 0.3s ease-in-out;
}

/* カテゴリリスト */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* カテゴリアイテム */
li {
  display: inline-block;
  margin: 10px;
  background-color: #ff9900;
  padding: 10px;
  border-radius: 5px;
}

/* カテゴリリンク */
li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* カテゴリリンクのホバースタイル */
li a:hover {
  text-decoration: underline;
}
