/* 全体のスタイル */
body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

/* ヘッダー1 */
h1 {
  font-family: 'Oswald', sans-serif;
  color: #FF0;
  line-height: 1;
  font-size: 128px;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
}

/* ヘッダー2 */
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: #FF0;
  line-height: 1;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
}

/* twitter用ヘッダー */
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: #FFF;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* トップ画像（メインビジュアル用） */
.main-visual-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-visual-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.main-visual-wrapper a:hover img {
  transform: scale(1.05);
}

/* Past Videos のサムネイルエリア */
.video-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列グリッド */
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* 動画のサムネイル画像 */
.video-cell {
  margin: auto;
  position: relative;
  width: 90%;
  max-width: 400px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video-cell img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* 動画のサムネイル画像を拡大表示 */
.video-cell:hover img {
  transform: scale(1.05);
}

/* カテゴリリスト */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* カテゴリアイテム */
li {
  display: inline-block;
  margin: 10px;
  background-color: #1DA1F2;
  padding: 10px;
  border-radius: 5px;
}

/* カテゴリリンク */
li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* カテゴリリンクのホバースタイル */
li a:hover {
  text-decoration: underline;
}

/* footer用 */
footer p {
  font-family: 'Oswald', sans-serif;
  color: yellow;
  text-align: center;
}
